/* fence_installation.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #380036,
    #0cbaba
  ); /* Gradient background */
  color: #333;
  padding-top: 70px;
}

nav {
  background: linear-gradient(
    to right,
    #380036,
    #0cbaba
  ); /* Gradient background */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Add offset for fixed navbar */
h1 {
  scroll-margin-top: 70px; /* Adjust this value to match the height of your navbar */
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}
