/* General Styles */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #380036,
    #0cbaba
  ); /* Gradient background */
  color: #333;
  padding-top: 50px; /* Adjust this value according to the height of your nav bar */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  box-sizing: border-box; /* Include padding and borders in element's width and height */
}

h1 {
  color: white;
  text-align: center;
  margin: 50px 0;
  scroll-margin-top: 70px; /* Adjust this value to match the height of your navbar */
}

h2 {
  color: white;
  text-align: center;
  margin: 50px 0;
  scroll-margin-top: 40px; /* Adjust this value to match the height of your navbar */
}

/* Navigation Bar */
nav {
  background: linear-gradient(
    to right,
    #380036,
    #0cbaba
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Light shadow for depth */
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center the nav items horizontally */
  margin: 0;
  padding: 0;
  gap: 70px; /* Adjust gap for smaller screens in media queries */
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: inline-block; /* Ensure transform works on inline elements */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
  backface-visibility: hidden; /* Improve rendering on scale */
  transform: translateZ(0); /* Use hardware acceleration */
  will-change: transform; /* Hint to browser that transform will change */
  text-rendering: optimizeLegibility; /* Optimize text rendering */
}

nav ul li a:hover {
  text-decoration: none; /* Ensure no underline on hover */
  transform: scale(1.2) translateZ(0); /* Slightly increase the size of the text */
}

/* Carousel Styles */
.carousel {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 20px auto;
  overflow: hidden; /* Hide overflow to prevent horizontal scroll */
  border-radius: 10px;
  background-color: #f4f4f4;
}

.carousel .slide {
  display: block; /* Ensure slides are displayed */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  border-radius: 10px;
}

/* Control buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Image Styles */
.custom-img {
  width: 100%;
  max-width: 750px;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

/* Image Styles */
.custom-logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.custom-title-logo {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 50%;
  margin: -10px auto -30px;
  display: block;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

p {
  color: white;
  text-align: center;
}

/* Additional Styles for Description Section */
.description {
  padding: 20px; /* Padding around the text */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Light shadow for depth */
  max-width: 1200px; /* Increase width for more columns */
  margin: 20px auto; /* Center and add margin */
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Create columns that fit available space */
  gap: 20px; /* Space between columns */
}

.description p {
  line-height: 1.6; /* Increase line height for readability */
  margin: 0; /* Remove default margin */
}

.description strong {
  color: black; /* Match the color of the header */
  font-size: 18px; /* Slightly larger font size for headings */
}

.contacts {
  padding: 20px; /* Padding around the text */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Light shadow for depth */
  max-width: 1200px; /* Increase width for more columns */
  margin: 20px auto; /* Center and add margin */
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr; /* Create a single column */
  gap: 20px; /* Space between columns */
}

.contacts p {
  line-height: 1.6; /* Increase line height for readability */
  margin: 0; /* Remove default margin */
}

.contacts strong {
  color: black; /* Match the color of the header */
  font-size: 18px; /* Slightly larger font size for headings */
}

.contacts span {
  display: block; /* Display text after colon on a new line */
  margin-top: 5px; /* Space above the text */
}

/* Container for services */
.services-container {
  display: flex; /* Display child items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: stretch; /* Stretch items to match the tallest item */
  gap: 20px; /* Add space between items */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  margin: 0 auto; /* Center container horizontally */
  padding: 20px; /* Add padding around the container */
  max-width: 1200px; /* Set a max-width to control container width */
}

/* Service items */
.service-item {
  display: flex; /* Use flexbox to align contents */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly within the container */
  align-items: center; /* Center items horizontally */
  flex: 1 1 200px; /* Flex-grow and flex-shrink, with a base width */
  max-width: 200px; /* Ensure items don't exceed a certain width */
  height: 250px; /* Set a fixed height for all service items */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Styles for the social media section */
#social-media {
  text-align: center;
  margin-top: 70px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
  color: black;
  margin-bottom: 50px;
}

.social-icon {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
  font-size: 18px; /* Adjust font size */
  display: flex;
  align-items: center; /* Center icons and text vertically */
  gap: 8px; /* Space between icon and text */
}

.social-icon i {
  font-size: 24px; /* Adjust icon size */
  transition: none; /* Disable hover effect */
}

.social-icon:hover {
  color: inherit; /* Ensure color doesn't change on hover */
}

.social-icon:hover i {
  transform: none; /* Ensure icon doesn't change on hover */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling within the modal */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center modal content */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adjust as needed */
  max-width: 800px; /* Max width for larger screens */
  border-radius: 10px;
  overflow: hidden; /* Prevent scrolling inside the modal content */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Button Styles */
.open-modal {
  background-color: black; /* Example background color */
  color: #fff; /* Text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
  margin-top: 10px; /* Space between text and button */
}

.open-modal:hover {
  background-color: transparent; /* Darker color on hover */
  color: black;
}

/* Ensure that the modal content has black text */
.modal-content h2,
.modal-content p {
  color: black; /* Set the text color to black */
}

/* Additional styling for readability and visibility */
.modal-content {
  background-color: white; /* Set a background color for the modal content */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 8px; /* Optional: add rounded corners */
}

/* Optionally, style the close button */
.modal-content .close {
  color: black; /* Set close button color to black */
}

/* Footer */
footer {
  background: linear-gradient(
    to right,
    #380036,
    #0cbaba
  ); /* Gradient background */
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.7); /* Light shadow for depth */
  color: white;
  text-align: center;
  padding: 5px 0;
  position: relative;
  width: 100%;
  box-sizing: border-box; /* Ensure footer width calculation includes padding */
  margin-top: 30px;
}

/* Media Queries */

/* For screens smaller than 1024px (tablets, small laptops) */
@media (max-width: 1024px) {
  .carousel,
  .custom-size {
    width: calc(100% - 20px); /* Ensure there's space on both sides */
    max-width: 750px; /* Keep max-width consistent */
    margin: 10px auto; /* Center and add margin */
  }

  h1 {
    scroll-margin-top: 20px;
  }

  nav ul {
    gap: 40px; /* Adjust spacing between nav items for tablets */
  }

  nav ul li {
    margin: 0 8px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .carousel .prev,
  .carousel .next {
    font-size: 14px;
  }

  .contacts {
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .description {
    grid-template-columns: repeat(
      auto-fit,
      minmax(150px, 1fr)
    ); /* Adjust column width for tablets */
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .custom-img {
    width: calc(100% - 20px); /* Reduce width to add space on both sides */
    max-width: 730px; /* Keep the maximum width slightly smaller */
    margin: 10px auto; /* Adjust margin to add more space around the image */
  }
}

/* For screens smaller than 768px (large phones, small tablets) */
@media (max-width: 768px) {
  nav {
    text-align: center; /* Center text horizontally */
    position: static; /* Change from fixed to static */
  }

  body {
    padding-top: 0; /* Adjust padding-top for mobile */
  }

  .carousel,
  .custom-size {
    width: calc(100% - 20px); /* Ensure there's space on both sides */
    margin: 10px auto; /* Center and add margin */
  }

  nav ul {
    flex-direction: column;
    gap: 15px; /* Reduce gap between nav items for smaller screens */
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
    scroll-margin-top: 20px;
  }

  .carousel .prev,
  .carousel .next {
    font-size: 12px;
    padding: 8px;
  }

  .contacts {
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .description {
    grid-template-columns: 1fr; /* Single column layout for small screens */
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .services-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items vertically */
  }

  .custom-logo {
    width: 80px; /* Adjust size for smaller screens */
  }

  .custom-img {
    width: calc(100% - 20px); /* Reduce width to add space on both sides */
    max-width: 680px; /* Keep the maximum width smaller for better fit */
    margin: 10px auto; /* Adjust margin to add more space around the image */
  }
}

/* For screens smaller than 480px (phones) */
@media (max-width: 480px) {
  nav {
    position: static; /* Ensure navigation is static on phones */
  }

  nav ul {
    flex-direction: column;
    gap: 5px; /* Further reduce gap between nav items for phones */
  }

  nav ul li {
    margin: 5px 0; /* Adjust margin to match reduced gap */
  }

  nav ul li a {
    font-size: 16px; /* Smaller font size for very small screens */
  }

  h1 {
    font-size: 20px;
    scroll-margin-top: 10px;
  }

  .carousel,
  .custom-size {
    width: calc(100% - 20px); /* Ensure there's space on both sides */
    max-width: 100%; /* Full width within the viewport */
    margin: 10px auto; /* Center and add margin */
  }

  .carousel .prev,
  .carousel .next {
    font-size: 10px;
    padding: 6px;
  }

  footer {
    font-size: 12px; /* Adjust footer font size for very small screens */
    padding: 8px;
  }

  .description {
    grid-template-columns: 1fr; /* Ensure single column layout on very small screens */
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .contacts {
    max-width: 100%; /* Ensure full width of the container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px; /* Reduce margin to add space around the container */
  }

  .services-container {
    flex-direction: column; /* Ensure items are stacked vertically */
    align-items: center; /* Center items vertically */
  }

  .custom-logo {
    width: 70px; /* Further adjust size for very small screens */
  }

  .custom-img {
    width: calc(100% - 20px); /* Further reduce width to add more space */
    max-width: 400px; /* Set a maximum width suitable for small screens */
    margin: 10px auto; /* Ensure there’s a consistent gap around the image */
  }

  .custom-title-logo {
    width: 150px; /* Adjust the width for smaller screens */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    margin-top: 30px;
  }
}
